<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header-item-list">
                <li class="main-header-item"><a  href='/'>Shop</a></li>
                <li class="main-header-item"><a  href='/admin/add-product'>Add Product</a></li>
                <li class="main-header-item"><a class="active" href='/contact-us'>Contact Us</a></li>
            </ul>
        </nav>
    </header>
   
  
    <form class="product-form" action="/success" method="POST">
        <h1>Book A Call</h1>
        <div class="form-control">
            <label for="title">Name</label>
            <input type="text" name="title" id="title"/>
            <label for="email">Email</label>
            <input type="email" name="email" id="email"/>
            <label for="phone">Phone no</label>
            <input type="number" name="phone" id="phone"/>
        </div>
        
        <button type="submit">Get A Call</button>
    </form>
</body>
</html>